.App {
  text-align: center;
}
 
h1 {
  color: black;
}

body{
  background-color: grey;
}

p {
  font-size: 2rem;
  color: white;
}

img {
  max-width: 50vw;
  max-height: 50vw;
}

nav {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 5rem;
  max-width: 100%;
}